<section class="main">
  <div class="col-md-3">
    <app-user-card [_user]="userWhoOwnsPage"></app-user-card>
  </div>

  <div class="col-md-7">
    <table id="messages" class="table table-hover white-table">
      <tbody>
      <tr *ngFor="let message of messages" class="d-inline clickable-table-row" (click)="showMessage(message);">
        <td class="message">
          <div style="padding: 5px 0 15px 10px;"><strong>{{message.author.username}}</strong>
            <br>{{message.text}}<br></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <app-side-bar></app-side-bar>
  </div>
</section>

